<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="" method="POST">
            <div id="content">
                <h3>
                    Model <input type="text" name="model" placeholder="e.g. Honda">
                </h3>
                <h3>
                    Daily fee (VND) <input type="text" name="fee" placeholder="100000">
                </h3>    
                <h3>
                    Image <input type="text" name="image" placeholder="e.g. https://hondaxemay.com.vn">
                </h3>    
                <h3>
                    Year <input type="text" name="year" placeholder="e.g. 2003">
                </h3>  
                <button>submit</button>  
            </div>
        </form>
    
</body>
</html>